# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing output
/acquisolar/backend/classification_testing/*
!/acquisolar/backend/classification_testing/.gitkeep

# input
/acquisolar/backend/documents/*
!/acquisolar/backend/documents/.gitkeep

# output
/acquisolar/backend/structured_data/*
!/acquisolar/backend/structured_data/.gitkeep

# zip output
/acquisolar/backend/zip_output/*
!/acquisolar/backend/zip_output/.gitkeep

# dependencies
**node_modules**
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python env and cache
**python-env**
**__pycache__**

# data
**documents**
**index_storage**

**.bin**
**.cache**

TODO.txt